
.container{position: relative;}
._top{
	background-color: #f4f4f4;
}
._top_width{
	margin: auto;
	padding: 0;
	height: 36px;
	width: 1180px;
}
._top_left{
	display: inline-block;
}
._language{
	position: relative;
	display: inline-block;
	padding: 0 15px 0 13px;
	border: 1px solid transparent;
}
._spirit{
	display: inline-block;
	width: 20px;height: 20px;
	background: url(../img/Sprites1.png);
	background-position: -5px -5px;
}
._language_text{
	position: absolute;
	top: 0px;left: 35px;
}
._triangle{
	width: 14px;height: 14px;
	background: url(../img/Sprites1.png);
	background-size: 800%;
	background-position: 433px 293px;
	margin-top: 11px;
}

._msg{
	width: 25px;height: 25px;
	background: url(../img/Sprites1.png);
	background-size: 800%;
	background-position: 392px 135px;
}
._phone{
	width: 25px;height: 25px;
	background: url(../img/Sprites1.png);
	background-size: 800%;
	background-position:275px 129px;
}
._wechat{
	width: 25px;height: 25px;
	background: url(../img/Sprites1.png);
	background-size: 800%;
	background-position: 275px 87px;
}
a:hover{
	text-decoration: none;
}
.font_sm{
	font-size: 12px;
	color: #666;
}

.flag{
	width: 20px; height: 17px;
	background: url(../img/flag.jpg) ;
	background-size: 2000%;
}
._china{background-position: 0px 0px;}
._us{background-position: 0px 0px;}
.breadcrumb-item+.breadcrumb-item::before{
	content: "|";
}
._logo{height: 60px;}
._input{
	border: 1px solid #0aa1ed;
	border-radius: 4px;
	box-shadow: none;
}
._phone_short{
	border: 1px solid #fff;
}
._phone_long{display: none;}
._phone_num:hover ._phone_long{
	display: block;
	background-color: #fff;
	border: 1px solid #ddd;
}
._phone_num:hover ._phone_short{
	display: none;
}

._float{
	position: absolute;
	top: -10px;
	right: 0px;
	width: 250px;
	z-index: 2;
}
._ul{
	height: 50px;
	list-style: none;
	background:transparent;
	padding: 0;
}
._ul a{
	color: #fff;
	font-size: 1rem;
}

._ul li{
	padding:0.8rem;
}


._ul li:hover{
	background-color: blue;
}
