*{margin: 0;padding: 0;}
.big-foot{
	width: 1180px;
	height: 208px;
	color: #666;
	padding: 28px 0 30px 0;
	font-size: 12px;
}
.item1{
	width: 245px;
	height: 150px;
	border-right: 1px solid #dedede;
	padding-right: 10px;
}
.item-1-bot{
	width: 235px;
	height: 150px;
	
}
.left-intr>i{
	       display: inline-block;
	       width: 45px;
	       height: 36px;
	       background-image: url(../img/footer/pic_partner.png);
	       background-repeat: no-repeat;
				 background-position: -41px -250px;
}
.why-p{
	font: 16px/20px 'Microsoft yahei';
}
.p1{
	color: #2577e3;
	font: bold 16px "Microsoft Yahei";
	
}
.left-intr2>i{
	       display: inline-block;
	       width: 45px;
	       height: 36px;
	       background-image: url(../img/footer/pic_partner.png);
	       background-repeat: no-repeat;
				 background-position: -41px -200px;
}
.p2{
	color: #ff9913;
	font: bold 16px "Microsoft Yahei";
}
.item2{
	width: 261px;
	height: 150px;
	padding: 0 10px 0 40px;
	border-right: 1px solid #dedede;
}
.item2 li{
	float: left;
	    display: inline-block;
	    width: 105px;
	    line-height: 14px;
			margin: 6px 0;
}
.item2 a{
	color:#666;;
}
.message{
	font: 16px/20px 'Microsoft yahei';
	    margin-bottom: 10px;
	    margin-top: -3px;
}
.item2>ul>li>a:hover{
	color: #007BFF;
	cursor: pointer;
	text-decoration: none;
}
.item4{
		width: 251px;
		height: 150px;
		padding: 0 0 0 40px;
		border-right: 1px solid #dedede;
}
.item4 li{
	float: left;
	    display: inline-block;
	    width: 105px;
	    line-height: 14px;
			margin: 6px 0;
}
.item4 a{
	color:#666;;
}
.message{
	font: 16px/20px 'Microsoft yahei';
	    margin-bottom: 10px;
	    margin-top: -3px;
}
.item4>ul>li>a:hover{
	color: #007BFF;
	cursor: pointer;
	text-decoration: none;
}
.item5{
	width: 161px;
	height: 150px;
}
.item5 .erweima{
	width: 132px;
	height: 170px;
	padding: 8px;
	border: 1px solid #efefef;
	
}
.item5 p{
	text-align: center;
	color: #999;
}
.item5 dt{
	text-align: center;
	font-size: 12px;
}
.under-big-foot{
	width: 1180px;
	margin: 28px auto 0;
	text-align: center;
	color: #999;
	font-size: 12px;
	
}
.under-big-foot a{
	color: #999;
}
.picture i{
			display: inline-block;
	    width: 20px;
	    height: 20px;
			vertical-align: middle; 
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
	    background-position: 0 -235px;
			margin-right: 4px;
	  
}
.honour{
	margin-left: 80px;
}
.honour a{
			float: left;
	    margin: 0 4px;
	    width: 88px;
	    height: 32px;
	    border: 1px solid #d1d1d1;
	    border-radius: 2px;
	    font: 12px/32px Simsun;
			text-align: right;
			padding-right: 4px;
}
.honour>.honour1{
	
	    width: 90px;
	   
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
			background-position: -88px -50px;
			 
}
.honour>.honour2{
	    width: 88px;
	   
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
			background-position: -88px -85px;
			
}

.honour>.honour3{
	    width: 88px;
	   
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
			background-position: 0 -50px;
			text-align: right;
}
.honour>.honour4{
	    width: 88px;
	   
	    line-height: 1.2;
		  padding: 2px 0 2px 37px;
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
			background-position: -88px -118px;
			text-align: left;
}
.honour>.honour5{
	    width: 88px;
	    
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
			background-position: 0 -387px;
		
}
.honour>.honour6{
	    width: 88px;
	   
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
			background-position: 0 -118px;
			
}
.honour2 a{
			float: left;
	    margin: 0 4px;
	    width: 88px;
	     height: 32px;
	    border: 1px solid #d1d1d1;
	    border-radius: 2px;
	    font: 12px/32px Simsun;
			
}
.honour2>.honour7{
	    width: 102px;
	   
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
		  background-position: 0 -429px;
			
}
.honour2>.honour8{
	    width: 114px;
	  
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
		      background-position: 0 -155px;
			
}
.honour2>.honour9{
	    width: 50px;
	    
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
			background-position: 0 -480px;
			
}
.honour2>.honour10{
	    width: 130px;
	  
			background-image: url(../img/footer/phone_list20190617.png);
			background-repeat: no-repeat;
			background-position: 0 -350px;
			
}
